<% flash.each do | type, message | %>
    <div data-alert class = "flash alert-box text-center <%= type %>" >
        <%= message %>
        <!-- button to dismiss any alert message that pop-up, &times is X to close -->
        <a href="#" class = "close">&times;</a>
    </div>
<%end%>